{% extends "base.html" %}

{% load static %}
{% block base_head %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<<title>Login</title>
<h1>Login</h1>
<form method='post'>
  <div class="note">
      <p>Login to our website</p>
  </div>


  <div class="form-content">
      <div class="row">
          <div class="col-md-6">


              <form method='post'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btnSubmit">Sign In</button>
              </form>
            </div>
      </div>
  </div>




</form>
{% endblock %}
